button:hover {
    animation: jello-vertical 0.9s both;
}

/**
 * ----------------------------------------
  * See http: //animista.net/license for more info. 
 * animation jello-vertical
 * ----------------------------------------
 */
@keyframes jello-vertical {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(0.75, 1.25, 1);
    }

    40% {
        transform: scale3d(1.25, 0.75, 1);
    }

    50% {
        transform: scale3d(0.85, 1.15, 1);
    }

    65% {
        transform: scale3d(1.05, 0.95, 1);
    }

    75% {
        transform: scale3d(0.95, 1.05, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

button:active {
    animation: rotate-out-tl 0.05s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


/**
 * ----------------------------------------
  * See http: //animista.net/license for more info. 
 * animation rotate-out-tl
 * ----------------------------------------
 */
@keyframes rotate-out-tl {
    0% {
        transform: rotate(0);
        transform-origin: top left;
        opacity: 1;
    }

    100% {
        transform: rotate(-360deg);
        transform-origin: top left;
        opacity: 0;
    }
}