/* Using a string */
@import "./button_anima.css";

:root {
    --border_color: teal;
    --background_color1: #0A4F35;
    --background_color2: #008080;
    --background_color3: #2F4F4F;
    --space: 2.5%
}

html {
    /* עיצוב רקע  */
    display: flex;
    flex-direction: column;

    align-items: center;
    background: var(--background_color1);
    background: -moz-radial-gradient(center, var(--background_color1) 0%, var(--background_color2) 50%, var(--background_color3) 100%);
    background: -webkit-radial-gradient(center, var(--background_color1) 0%, var(--background_color2) 50%, var(--background_color3) 100%);
    background: radial-gradient(ellipse at center, var(--background_color1) 0%, var(--background_color2) 50%, var(--background_color3) 100%);
}

.app-count-down,
.app-time-now,
.app-count-forward {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    outline-style: solid;
    outline-color: #008585;
    border-radius: 15px;
    border: 0.5px outset var(--bord-er_color);

}

.app-top {
    margin-top: 2%;
    padding: 8%;
    cursor: none;
    /* Adds a solid border with rounded corners */
    border-style: solid;
    border-radius: 15px;
    border-width: thin;
    background-color: darkcyan;
    /* Sets the font family to 'Times New Roman' */
    font-family: 'Times New Roman', Times, serif;
    /* Increases the font size to 200% */
    font-size: 200%;
    /* Sets the font weight to bolder */
    font-weight: bolder;
    /* Sets the font color to navy */
    color: lavender;

    /* Centers the text horizontally */
    text-align: center;
    /* Adds padding around the text */
    -webkit-box-shadow: 11px -9px 10px 0px #0000FF, 16px -14px 10px 0px #00FF00, 20px -17px 10px 0px #FFFF00, 24px -19px 10px 0px #FF7F00, 27px -23px 10px 0px #FF0000, 5px 5px 15px 5px rgba(0, 0, 0, 0), 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 11px -9px 10px 0px #0000FF, 16px -14px 10px 0px #00FF00, 20px -17px 10px 0px #FFFF00, 24px -19px 10px 0px #FF7F00, 27px -23px 10px 0px #FF0000, 5px 5px 15px 5px rgba(0, 0, 0, 0), 5px 5px 15px 5px rgba(0, 0, 0, 0);
    padding: 10px;
}


div {
    margin-bottom: var(--space);
    margin-top: var(--space);
    text-align: center;
    /* align-items: center; */
}

.timer {
    /* Increases the font size to 400% */
    font-size: 300%;
    /* Sets the font color to goldenrod */
    color: goldenrod;
    /* Sets the font family to 'Times New Roman' */
    font-family: 'Times New Roman', Times, serif;
    /* Sets the font weight to bold */
    font-weight: bold;
    margin-bottom: 10px;
    border: 0.5px outset var(--border_color);
    border-radius: 15px;
}


#time-now {
    text-align: center;
    /* Increases the font size to 400% */
    font-size: 200%;
    /* Sets the font color to goldenrod */
    color: goldenrod;
    /* Sets the font family to 'Times New Roman' */
    font-family: 'Times New Roman', Times, serif;
    /* Sets the font weight to bold */
    font-weight: bold;
    text-shadow: 0 0 30px teal, 0 0 25px darkcyan;
    border: 0.5px outset var(--border_color);
    border-radius: 15px;
}

.timer:active,
#time-now:active {
    background-color: darkcyan;
    color: gold;
}

.text {
    text-align: center;
    color: lightgoldenrodyellow;
}


input {
    text-align: center;
    border: double var(--border_color);
}


.inp-t {
    justify-content: space-around;
    display: inline-block;
    outline-style: double;
    border-radius: 15px;
    outline-color: var(--border_color);
}