 

#controls {
    /* Centers the content horizontally */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

button {
    cursor: pointer;

    /* Adds a box shadow */
    box-shadow: 2px 2px 7px 1px goldenrod;
    /* Adds a border with a color of teal */
    border: 3px solid teal;
    /* Sets the position to sticky */
    position: sticky;
    /* Sets the font family to Arial, Helvetica, sans-serif */
    font-family: Arial, Helvetica, sans-serif;
    width: 220px;
    height: 50px;
    /* Increases the font size to 150% */
    font-size: 150%;
    outline: none;
    color: #fff;
    background: #111;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #00FF00, #48ff00, #00ffd5, #008080, #0A4F35, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    font-weight: bold;
    border-radius: 15px;
}

button:active {
    color: #000
}

button:active:after {
    background: transparent;
}

button:hover:before {
    opacity: 1;
}

button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}button:hover {
    animation: jello-vertical 0.5s both;
}

@keyframes jello-vertical {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(0.75, 1.25, 1);
    }

    40% {
        transform: scale3d(1.25, 0.75, 1);
    }

    50% {
        transform: scale3d(0.85, 1.15, 1);
    }

    65% {
        transform: scale3d(1.05, 0.95, 1);
    }

    75% {
        transform: scale3d(0.95, 1.05, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}
