/* Using a string */
@import "./button_anima.css";

:root {
    --border_color: teal;
    --background_color1: #0A4F35;
    --background_color2: #008080;
    --background_color3: #2F4F4F;
}

body {
    /* Centers the content horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background_color1);
    background: -moz-radial-gradient(center, var(--background_color1) 0%, var(--background_color2) 50%, var(--background_color3) 100%);
    background: -webkit-radial-gradient(center, var(--background_color1) 0%, var(--background_color2) 50%, var(--background_color3) 100%);
    background: radial-gradient(ellipse at center, var(--background_color1) 0%, var(--background_color2) 50%, var(--background_color3) 100%);
}

h1 {
    cursor: none;
    /* Adds a solid border with rounded corners */
    border-style: solid;
    border: none;
    border-radius: 15px;
    border-width: thin;
    /* Sets the background color to yellowgreen */
    background-color: yellowgreen;
    /* Sets the font family to 'Times New Roman' */
    font-family: 'Times New Roman', Times, serif;
    /* Increases the font size to 200% */
    font-size: 200%;
    /* Sets the font weight to bolder */
    font-weight: bolder;
    /* Sets the font color to navy */
    color: navy;
    /* Centers the text horizontally */
    text-align: center;
    /* Adds padding around the text */
    -webkit-box-shadow: 11px -9px 10px 0px #0000FF, 16px -14px 10px 0px #00FF00, 20px -17px 10px 0px #FFFF00, 24px -19px 10px 0px #FF7F00, 27px -23px 10px 0px #FF0000, 5px 5px 15px 5px rgba(0, 0, 0, 0), 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 11px -9px 10px 0px #0000FF, 16px -14px 10px 0px #00FF00, 20px -17px 10px 0px #FFFF00, 24px -19px 10px 0px #FF7F00, 27px -23px 10px 0px #FF0000, 5px 5px 15px 5px rgba(0, 0, 0, 0), 5px 5px 15px 5px rgba(0, 0, 0, 0);
    padding: 10px;
}

#app-cont {
    /* Centers the content vertically */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#timers {
    /* Increases the font size to 400% */
    font-size: 400%;
    /* Sets the font color to goldenrod */
    color: goldenrod;
    /* Sets the font family to 'Times New Roman' */
    font-family: 'Times New Roman', Times, serif;
    /* Sets the font weight to bold */
    font-weight: bold;
    /* רוח למעלה  */
    margin-top: 10px;
    /* רוח למטה  */
    margin-bottom: 10px;
    border: 2px outset var(--border_color);
    border-radius: 15px;
}

#time-now {
    /* Increases the font size to 400% */
    font-size: 200%;
    /* Sets the font color to goldenrod */
    color: goldenrod;
    /* Sets the font family to 'Times New Roman' */
    font-family: 'Times New Roman', Times, serif;
    /* Sets the font weight to bold */
    font-weight: bold;
    text-shadow: 0 0 30px #49FF18, 0 0 75px #0000FF;
    border: 2px outset var(--border_color);
    border-radius: 15px;
}